@charset "utf-8";

/* reset */
* {margin: 0;padding: 0;box-sizing:border-box;}
html, body, div, span, applet, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,font, img, ins, kbd, q, s, samp, small, strike,  sub, sup, tt, var,  center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
 h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}


html,body,#root{height: 100%; box-sizing: border-box;}

.App {
   height: 100%; width:100%; overflow-x: hidden;
}


.nav{align-items: center;background: white; position: fixed; z-index: 6;
    padding: 20px 3vw 0 3vw; width: 100vw;opacity: 0.9;}

