@keyframes scaleani{
    0%{transform: scale(1.15); }
    30%{transform: scale(1.15);}
}
@keyframes slid-up{
    0%{opacity: 0;}
    20%{opacity: 0.7; transform : translateY(100px);}
}

.scroll_imgs .image{
    will-change: content;
    animation: scaleani .7s ease-in-out
}
.welcome{
    animation: slid-up 1.3s ease-in-out

}