
@keyframes slid_up{
    0%{
        opacity:0;
    }
    15%{
        opacity: 0; 
        transform : translateY(4.5vw);
    }
}
@keyframes slid_out{
    0%{opacity:1;}
    30%{opacity:0.5; }
    100%{opacity:0; transform : translateY(-4.5vw);}
}
.ContentWrap{
    position: absolute;  right: 4vw; bottom:3.5vw;z-index:3;
    animation: slid_out 0.5s;
}

.ContentWrap p{
    text-align: right;
    font-size: 1.2rem;
    color:blanchedalmond;
}
.ContentWrap.act, .ButtonWrap.act{
    animation: slid_up 0.65s;
}
.ButtonWrap{
    transition:0.5s all;animation: slid_out 0.5s;
    position: absolute; bottom:8vw; width:12vw; left:6vw;z-index:3;
}